$grid-size: 12;
$grid-gutter: 15px;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &-fluid {
    @extend .container;
    max-width: unset;
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
  }
}
.row {
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;

  position: relative;
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}
* {
  box-sizing: border-box;
}
$media: (
  'xs': 0px,
  'sm': 360px,
  'md': 662px,
  'lg': 1024px
);

@mixin col {
  float: left;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

@each $key, $limit in $media {
  @media screen and (min-width: $limit) {
    @for $i from 1 to $grid-size + 1 {
      $_w: ($i * 100% / $grid-size);
      .col-#{$key}-#{$i} {
        @include col();
        width: $_w;
      }
    }
  }
}
