$font-size: 16px;
$golden-ration: 1.314;
$h: 1;
$n: 6;

@while $h + 1 <= $n {
  .h#{($n - $h)} {
    font-size: $font-size;
    font-weight: 500;
  }
  $h: $h + 1;
  $font-size: $font-size * $golden-ration;
}
